@model IEnumerable<LeThiHuyen995_DATN.Models.ShoppingCartItem>
@using LeThiHuyen995_DATN.Common

@if (Model != null && Model.Any())
{
    @*<h5>SẢN PHẨM CỦA BẠN <span  style="float:right;">@Model.Count()</span></h5>*@
    var total = decimal.Zero;
    var i = 0;
    <div @*style="border: 1px solid black"*@>
        <table class="table">
            <tr>
                <th colspan="2">SẢN PHẨM CỦA BẠN</th>
                <th >@Model.Count()</th>
                
            </tr>
            @foreach (var item in Model)
            {
                total += item.TotalPrice;
                <tr>
                    <td>@item.ProductName</td>
                    <td></td>
                    <td>@Common.FormatNumber(item.Price, 0) x @item.Quantity</td>
                </tr>

            }
            <tr>
                <td colspan="2" class="text-right">Tổng tiền: </td>
                <td>@Common.FormatNumber(total, 0)</td>
            </tr>
        </table>
    </div>
}


